.nav {
	grid-area: nav;
	background-color: yellow;
	padding: 20px;
}

.menu {
	padding: 0;
	margin: 0;
}

.item {
	list-style: none;
	a {
		color: tomato;
		text-decoration: none;
		&.active {
			color: blue;
		}
	}
}